/************************************************************************************
	GLOBAL STYLES
*************************************************************************************/
* {
	margin: 0px;
	padding: 0px;
}

a, img {
	border: 0;
	outline: 0;
	text-decoration: none;
}

header,section,footer,aside,nav,article,hgroup {
	display: block;
}

body {
	/**/
}

#container{
	margin: 0 auto;
	width: 1000px;
	min-width: 320px;
}

/************************************************************************************
	HEADER STYLES
*************************************************************************************/

header {
	/**/
}

		
/************************************************************************************
	MAIN CONTENT STYLES
*************************************************************************************/

#mainContent {
	/**/
}

/************************************************************************************
	FOOTER STYLES
*************************************************************************************/

footer {
	/**/
}

		
/************************************************************************************
	MOBILE-VIEWPORT STYLES
*************************************************************************************/

@media screen and (max-width: 810px) {
	#container {
		width: 100%;
	}
	
	header {
		margin-top: 0px;
		height: auto;
	}
	
	#mainContent {
		padding: 0 10px;
	}
}

@media screen and (max-width: 560px) {
	
}

@media screen and (max-width: 320px) {
	
}